
<app-navbar></app-navbar>
<div class="card text-center" style="width: 120rem;">
     <div class="card-body">
<div class="container">
	<form>
		<div class="form-group">
            <label for="email">Employee Name/ID: </label>
             <input type="search" class="form-control" id="email">
        </div>
        <!-- <button class="btn btn-success">Search</button> -->
        <button (click)="!testData" class="btn btn-success">Search</button>
    </form>
</div>
</div>
</div>


<div class="card text-center" style="width: 120rem;">
  <div class="card-body">
    <h5 class="card-title">Employee Details</h5>
    <p class="card-text">Employee Name : </p> {{testData}}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Email ID: </li>
    <li class="list-group-item">Gender :</li>
    <li class="list-group-item">Contact :</li>
    <li class="list-group-item">Career Band :</li>
    <li class="list-group-item">Manager :</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

